PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/parking-management
JWT_SECRET=parking_jwt_secret_2024
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=parking_refresh_secret_2024
JWT_REFRESH_EXPIRES_IN=7d

# PayOS — get from https://my.payos.vn
PAYOS_CLIENT_ID=b6a12b36-f684-4964-8481-04ac58260f7c
PAYOS_API_KEY=03d3e27b-00f5-49fb-b5a6-036d2c82dfc4
PAYOS_CHECKSUM_KEY=958eb4428d8523a308e8219068b8bc26b57871b77b3c18a0b6b20b948e62df43
PAYOS_RETURN_URL=http://localhost:3000/payment/success
PAYOS_CANCEL_URL=http://localhost:3000/payment/cancel